@import "./reset.css";


*{
    margin: 0;
}
.event{
    background-color:#1A1E47 ;
}
.event button {
    width: 50px;
    height: 50px;
    background-color: #1A1E47;
    outline: none; /* 포커스 아웃라인 제거 */
    border: none; /* 이 부분이 중요! 기본 보더 제거 */

    /* 이미지를 중앙에 배치하기 위한 flexbox 속성 (필요하다면 추가) */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* 혹시 모를 버튼의 기본 패딩 제거 */
}

button img {
    width: 40px;
    height: 40px; /* 버튼 높이보다 작게 설정하여 여유 공간 확보 */
    display: block;
}
h1{
    margin-top: 10px;
    color: #ffffff;
    margin-left: 150px;
}
.event  #p1{
    color: #ffffff;
    margin-left: 50px;
}
.event  #p2{
    color: #ffffff;
    margin-left: 70px;
}
.event  #p3{
    color: #ffffff;
    margin-left: 160px;
}

.box{
    margin-top: 70px;
    margin-bottom: 40px;
}
.box button{
    margin-left: 60px;
    background-color:#ffffff;
    border-color: rgb(218, 218, 218);
    border-radius:5px;
    min-height:50px; 
    min-width: 300px;
}
#px{
    padding-bottom: 40px;
}
